<h1>Notícias Pelando</h1>

<button (click)="botao()">Clique Agora</button>

<div class="div-noticia" *ngFor="let promocao of concatenarLista()">
    <a href="{{promocao.sourceUrl}}" class="a-link">
        <div class="div-img">
            <img src="{{ montarImg(promocao.image.original) }}" alt="noticia" class="img" aria-disabled="false">
        </div>
        <div class="div-descricao">
            <span class="span-titulo">{{promocao.title}}</span>
            <p class="p-descricao">
                {{ promocao.store.name }} <br>
                R$ {{promocao.price}}
            </p>
        </div>
    </a>
</div>